<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Header</title>
        <link rel="stylesheet" href="../layout/header.css">
    </head>
    <body>
        <header>
            <img src="../assets/imagens/atualizado.gif" height="100px" width="100px">
            <nav>
                <ul>
                    <li id="oi"></li><a class="class1" href="../index.html" target="_parent">Menu</a></li>
                    <li><a class="class1" href="../pages/feedback.html" target="_parent">Feedback</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>