.inicio{
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    text-align: center;
    color: rgb(249, 219, 86);
}
#p1{
    text-align: justify;
    color: black;
    font-size: 20px;
}
.section1{
    display: flex;
    margin: 3px;
    text-align: justify;
    background-color: rgb(248, 50, 50);
}
body{
    background-color:white ;
}
.pizzas{
    background-color: red;
}
.section2{
    font-size: 15px;
    margin: 7px;
    text-align: center;
    width: 100%;
    padding: 0px;
    border-radius: 7px;

}